<p>home works!</p>

<input type="text" [(ngModel)]="user.name" [class]="isDisabled ? 'border border-red-500' : 'border border-red-100'"/>
<button (click)="submit()">logged</button>

<div>
  <button [class]="isDisabled ? 'bg-blue-500 hover:bg-blue-700' : 'bg-red-500 hover:bg-red-700' " class="border border-black btn text-white font-bold py-2 px-4 rounded" (click)="disable()">{{isDisabled ? 'Enable' : 'Disable' }}</button>
</div>

<hr>
  
<form [formGroup]="crudApplication" (ngSubmit)="onSubmitCrud()">
  <div>
    <label>First Name: </label>
    <input type="text" name="firstName" class="border border-black" formControlName="firstName"/>
    @if (crudApplication.controls.firstName.touched && crudApplication.controls.firstName.errors?.['required']){
    <div>
      required
    </div>
    }
    @if(crudApplication.controls.firstName.errors?.['minlength'] || crudApplication.controls.firstName.errors?.['maxlength']){
    <div>
      Character leangth dosent match
    </div>
    }
  </div>

  <div>
    <label>Last Name: </label>
    <input type="text" name="lastName" class="border border-black" formControlName="lastName"/>
    @if(crudApplication.controls.lastName.touched && crudApplication.controls.lastName.errors?.['required']){
    <div>
      required
    </div>
    }
    @if(crudApplication.controls.lastName.touched && (crudApplication.controls.lastName.errors?.['maxlength'] || crudApplication.controls.lastName.errors?.['minlength'])){
    <div>
      Character leangth dosent match
    </div>
    }
  </div>

  <div>
    <label>Email: </label>
    <input type="email" name="email" class="border border-black" formControlName="email"/>
    @if(crudApplication.controls.email.touched && crudApplication.controls.email.errors?.['required']){
    <div>
      required
    </div>
    }
    <!--<div>
      Character leangth dosent match
    </div>-->
    @if(crudApplication.controls.email.touched && (crudApplication.controls.email.errors?.['email'] || crudApplication.controls.email.errors?.['pattern'])){
    <div>
      must be an Email
    </div>
    }
  </div>
  
  <div>
    <label>Age: </label>
    <input type="number" name="age" class="border border-black" formControlName="age"/>
    @if(crudApplication.controls.age.touched && crudApplication.controls.age.errors?.['required']){
    <div>
      required
    </div>
    }
    @if(crudApplication.controls.age.touched && crudApplication.controls.age.errors?.['min']){
    <div>
      too young
    </div>
    } @else if(crudApplication.controls.age.touched && crudApplication.controls.age.errors?.['max']){
    <div>
      too old
    </div>
    }
  </div>
  
  <div>
    <button class="bg-blue-500 hover:bg-blue-400 py-2 px-4 rounded">Submit</button>
  </div>
</form>
<div>
  <table>
    <thead>
      <tr class="user-row">
        <th class="px-5">Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
        @for(user of crudUsers; track $index){
      <tr class="user-row">
        <td>{{ $index+1 }}</td>
        <td>{{ user.fName }}</td>
        <td>{{ user.lName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
        <td>
          <button class="bg-red-500 py-1 px-3 rounded" (click)="remove(user)">Delete</button>
          <button class="bg-green-400 py-1 px-3 rounded">Edit</button>
          <button class="bg-blue-500 py-1 px-3 rounded">View</button>
        </td>
      </tr>
        }        
    </tbody>
  </table>
<ul>
  @for (user of crudUsers; track $index){
  <li>{{user.fName}}</li>
} @empty{
    <li>No users found.</li>
}
</ul>

</div>
